<div class="header" style="background-image: url('img/header.jpg')" >
				<div class="header__logo">
					<a href="#" class="header__site-logo" style="background-image: url('img/logo.png');" >
					</a>
					<div class="header__site-title">blog about politics</div>
				</div>
				
				<div class="header__nav">
					<div class="header__topnav">
						<a href="">Privacy policy</a>
						<a href="">Advertise</a>
						<a href="">Term and condition</a>
					</div>
					<div class="header__botnav">
						<a href="">Main street</a>
						<a href="">Washington DC</a>
						<a href="">Wall street</a>
						<a href="">Statewide</a>
						<a href="">Politics</a>
						<a href="">Just a bill</a>
						<a href="">Video</a>
					</div>
				</div>
			</div>