<div class="topbar">
				<div class="topbar__wraper">
					<div class="topbar__tag">hotest</div>
					<div class="topbar__link"><a href="#">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</a> </div>
					<div class="topbar__arrow">
						<a href="#"><img src="img/arrow.svg" alt=""></a>
					</div>					
				</div>
				<div class="topbar__search">
					<input type="text" placeholder="Search..">
					<a href="#"><div class="topbar__search-img" style="background-image: url('img/find.svg')"  alt=""></div></a>
					
				</div>
</div>