{% set postSlider = [
	{
		title : "CNN could not verify the authenticity",
		content: "The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.",
		img: "img/preview.jpg"

	},	
	{
		title : "CNN could not verify the authenticity",
		content: "The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.",
		img: "img/preview.jpg"

	},	
	{
		title : "CNN could not verify the authenticity",
		content: "The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.",
		img: "img/preview.jpg"

	},	
	{
		title : "CNN could not verify the authenticity",
		content: "The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.",
		img: "img/preview.jpg"

	}

]
%}