{% set link = [
	{
		title: "Main street",
		mass:
		[
		{
			li: "Lawsuit against"
		},
		{
			li: "Prominent pro-life"
		},
		{
			li: "Groups"
		},
		{
			li: "Claims contributed"
		}
		]
	},
	{
		title: "Washington DC",
		mass:
		[
		{
			li: "Lawsuit against"
		},
		{
			li: "Prominent pro-life"
		},
		{
			li: "Groups"
		},
		{
			li: "Claims contributed"
		}
		]
	},
	{
		title: "Wall street",
		mass:
		[
		{
			li: "Lawsuit against"
		},
		{
			li: "Prominent pro-life"
		},
		{
			li: "Groups"
		},
		{
			li: "Claims contributed"
		}
		]
	},
	{
		title: "Statewide",
		mass:
		[
		{
			li: "Lawsuit against"
		},
		{
			li: "Prominent pro-life"
		},
		{
			li: "Groups"
		},
		{
			li: "Claims contributed"
		}
		]
	},
	{
		title: "Politics",
		mass:
		[
		{
			li: "Lawsuit against"
		},
		{
			li: "Prominent pro-life"
		},
		{
			li: "Groups"
		},
		{
			li: "Claims contributed"
		}
		]
	},
	{
		title: "Just a bill",
		mass:
		[
		{
			li: "Lawsuit against"
		},
		{
			li: "Prominent pro-life"
		},
		{
			li: "Groups"
		},
		{
			li: "Claims contributed"
		}
		]
	},
	{
		title: "Video",
		mass:
		[
		{
			li: "Lawsuit against"
		},
		{
			li: "Prominent pro-life"
		},
		{
			li: "Groups"
		},
		{
			li: "Claims contributed"
		}
		]
	}
]
%}