{% set postContent = [
	{
		titleL: "Gruesome video shows Syria brutality",
		titleR: "As crackdowns against anti-government protesters continue across",
		content: "A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues.",
		img: "img/seb.jpg",
		mass: 
		[
		{
			tag: "Italy"
		}, 
		{
			tag: "Best winey"
		}, 
		{
			tag: "Spirit"
		}, 
		{
			tag: "World championship"
		},
		{
			tag: "Eat"
		}
		]

	},
	{
		titleL: "Gruesome video shows Syria brutality",
		titleR: "As crackdowns against anti-government protesters continue across",
		content: "A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues.",
		img: "img/seb.jpg",
		mass: 
		[
		{
			tag: "Italy"
		}, 
		{
			tag: "Best winey"
		}, 
		{
			tag: "Spirit"
		}, 
		{
			tag: "World championship"
		},
		{
			tag: "Eat"
		}
		]

	},
	{
		titleL: "Gruesome video shows Syria brutality",
		titleR: "As crackdowns against anti-government protesters continue across",
		content: "A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues.",
		img: "img/seb.jpg",
		mass: 
		[
		{
			tag: "Italy"
		}, 
		{
			tag: "Best winey"
		}, 
		{
			tag: "Spirit"
		}, 
		{
			tag: "World championship"
		},
		{
			tag: "Eat"
		}
		]

	}
]
%}
